@import "../../colors.scss";

.golden-circle-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .golden-circle-title {
    font-size: 44px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 100px;
    color: $primary;
    font-family: "NotoSans Regular";
  }
  
  .golden-circle-itself-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;

    & > div {
      flex: 1;
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .golden-circle-itself-left {
      position: relative;
      overflow: hidden;
      .circle {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        box-sizing: border-box;
        span {
          width: 100%;
          text-align: end;
        }
      }
      
      .what {
        width: 50vw;
        height: 50vw;
        background-color: $primary-extra-light;
        right: 2%;
        & > span {
          padding: 0 4%;
        }
        .how {
          width: 36vw;
          height: 36vw;
          background-color: $primary-light;
          & > span {
            padding: 0 7%;
            font-size: 1.5em;
          }
          .why {
            width: 20vw;
            height: 20vw;
            background-color: $primary-dark;
            & > span {
              text-align: center;
              font-size: 3em;
              color: white;
            }
          }
        }
      }
    }

    .golden-circle-itself-right {
      padding: 1em;
      height: 100%;
      box-sizing: border-box;
      & > ul li {
        font-size: 1.5em;
        padding: 1em 0;

        &:first-child {
          font-size: 2em;
          color: white;
        }
      }
    }
  }
}
