@import "../../colors.scss";

.persona-card {
  display: flex;
  flex-direction: column;
  padding: 2em;

  & > .persona-card-header {
    background-color: $primary;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    font-size: 50px;
    color: white;
    justify-content: space-between;

    & > .persona-card-header-values {
      display: flex;
      flex-direction: row;
      align-items: center;
      & > .value {
        background-color: $primary-light;
        color: white;
        padding: 0.25em 1em;
        text-align: center;
        font-family: "NotoSans Regular";
        font-size: 20px;
        height: fit-content;
        margin: 0.25em;
      }
    }
  }

  & > .persona-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em;
    background-color: $white;
    margin-bottom: 50px;

    & > .persona-card-body-info {
      display: flex;
      flex-direction: column;
      margin-right: 2em;

      & > :last-child {
        margin-right: 0;
      }

      & > img {
        width: 400px;
        height: 400px;
        margin-right: 10px;
        margin-bottom: 20px;
      }

      & > .persona-card-body-info-data {
        font-family: "Merriweather Regular";
        color: black;
        font-size: 24px;
        margin-bottom: 0.5em;
        & > span {
          font-family: "NotoSans Bold";
          color: $primary;
          margin-right: 0.5em;
        }
        & > p {
          text-align: justify;
        }
      }
    }
  }
}
