@import "./colors.scss";

$fonts-folder: "./fonts" !default;

@font-face {
  font-family: "Merriweather Black";
  src: url('#{$fonts-folder}/Merriweather/Merriweather-Black.ttf') format('truetype');
}

@font-face {
  font-family: "Merriweather Bold";
  src: url('#{$fonts-folder}/Merriweather/Merriweather-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Merriweather Regular";
  src: url('#{$fonts-folder}/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Merriweather Light";
  src: url('#{$fonts-folder}/Merriweather/Merriweather-Light.ttf') format('truetype');
}

@font-face {
  font-family: "NotoSans Bold";
  src: url('#{$fonts-folder}/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "NotoSans Regular";
  src: url('#{$fonts-folder}/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
}

.container {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

h1, h2 {
  font-family: "NotoSans Regular";
}

@keyframes goalScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes netIcon {
  0% {
    transform: scale(1);
    margin-bottom: 90px;
    margin-right: 90px;
  }

  50% {
    transform: scale(1.05);
    margin-bottom: 40px;
    margin-right: 40px;
  }

  100% {
    transform: scale(1);
    margin-bottom: 90px;
    margin-right: 90px;
  }
}

@keyframes globeIcon {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1450px) {
  .container > .observe-container {
    & > .observe-explanation > .observe-inner-text {
      font-size: 22px;
    }

    & > .observe-images-container > img {
      &:first-child {
        width: 140px;
        height: 140px;
      }

      &:last-child {
        width: 120px;
        height: 120px;
      }
    }
  }

  .container > .people-container > .people-cards-container > .people-card {
    font-size: 22px;
  }

  .container > .care-container {
    & > .care-explanation {
      & > h1 {
        font-size: 36px;
      }

      & > span {
        font-size: 22px;
      }
    }

    & > .care-illustration {
      margin-left: 90px;
      margin-right: 150px;
    }
  }

  .container > .solution-container {
    & > .solution-explanation {
      & > h1 {
        font-size: 26px;
      }

      & > span {
        font-size: 20px;
      }
    }

    & > .care-illustration {
      margin-left: 90px;
      margin-right: 150px;
    }
  }

  .end-info-wrapper {
    margin-left: 40px;
  }

  .end-info-container ~ span {
    margin-bottom: 80px;
  }
}
