$primary: #2888e0;
$primary-light: #5fa4e4;
$primary-dark: #1675ce;
$primary-extra-light: #caf4ff;

$white: #ffffff;
$black: #000000;
$gray: #666666;
$light-gray: #bebebe;
$clear-gray: #dfdddd;

$red: #cd1e5a;
$red-light: #da3f75;
$red-dark: #a0093e;

$green: #32a04b;
