@import "../../colors.scss";

.begin-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  & > .begin-info-container {
    display: flex;
    align-items: center;
    max-width: 65%;
    background-color: white;
    border: 4px solid $primary;
    padding: 28px 32px;
    transition: 0.3s;

    &:hover {
      box-shadow: 2px 8px 16px $primary-light;

      & img {
        transform: scale(1.15);
      }
    }

    & > .logo-icon {
      fill: $primary;
      width: 250px;
      height: 100px;
      transition: 0.3s;
    }

    & > div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      & > .begin-title {
        font-size: 38px;
        line-height: 46px;
        text-align: right;
        margin-bottom: 26px;
        color: $primary;
      }

      & > .begin-subtitle {
        font-size: 28px;
        line-height: 32px;
        text-align: right;
        color: $primary-dark;
      }
    }
  }
}
